* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
img {
  max-width: 100%;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
/* fonts */
@font-face {
  font-family: "STIX Two Text";
  src: url("../assets/fonts/STIX_Two_Text/");
  font-weight: 600;
}
@font-face {
  font-family: "Lexend";
  src: url("../assets/fonts/Lexend/Lexend-Regular.ttf");
  font-weight: 400;
}
/* desktop media */
body {
  font-family: Lexend, sans-serif;
  font-size: 21px;
}
.hero {
  height: 100vh;
  width: 100%;
}
.carousel {
  min-height: 1274px;
}
h1,
h2,
h3 {
  color: #211e1b;
  font-weight: 600;
  font-size: STIX Two Text;
}
h1 {
  font-size: 24px;
  line-height: 30px;
}
h2 {
  font-size: 76px;
  line-height: 72px;
}
h3,
h4 {
  font-size: 42px;
  font-weight: 600;
}
p {
  font-size: Lexend;
  font-weight: 400;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  height: 91px;
  border: 1px solid black;
  transition: 0.5s;
  position: fixed;
  z-index: 5000;
  top: 0;
  width: 74.48%;
}
.header__wrapper {
  padding: 0 12.76%;
}
.header__nav {
  width: 21.958041958;
  margin-right: 2.7972027972%;
  position: relative;
  z-index: 100;
}
.header__link {
  text-decoration: none;
  color: black;
}
.heading__logo {
  background-image: url("../assets/images/logo/warbridge..png");
  width: 135.14px;
  height: 26.35px;
}
.header__heading-box {
  margin-left: 2.7972027972%;
  display: flex;
  align-items: center;
}
.header__nav a,
.header__btn-description {
  font-size: 14px;
  text-transform: uppercase;
}
.header__btn-description {
  color: white;
}
.header__link--middle {
  margin: 0 40px;
}
.hero {
  position: relative;
  overflow: hidden;
}
.hero img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  object-position: bottom;
}

.hero__text--wrapper {
  height: 100vh;
}
.hero__text {
  margin-top: 228px;
  text-align: center;
  position: relative;
  z-index: 1;
}
.hero__heading-box,
.hero__description-box {
  display: flex;
  justify-content: center;
}
.hero__heading {
  max-width: 880px;
  margin-bottom: 32px;
}
.hero__description {
  width: 438px;
  font-size: 21px;
  line-height: 28px;
}
.hero__btn,
.header__btn,
.slide__button,
.card__overlay button {
  background-color: black;
  color: inherit;
  border: 1px solid black;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  color: white;
  text-transform: uppercase;
}
.hero__btn {
  background-color: #f6bf52;
  color: black;
  margin-top: 60px;
  margin-top: 3.1%;
  font-size: 16px;
}
.hero__btn-description {
  padding: 25px 33px;
}
.header__btn-description {
  padding: 16px 34px;
}
/* carousel */
.carousel {
  background-image: url("../assets/images/background/Illustration\ BG.png");
  background-position: center;
  background-size: cover;
  display: flex;
  padding-top: 160px;
  justify-content: center;
}
.carousel__nav {
  display: flex;
  width: 1720px;
  justify-content: space-between;
}
.carousel__text p {
  margin-top: 24px;
  margin-bottom: 50px;
  line-height: 28px;
}
.carousel__btn {
  width: 65px;
  height: 65px;
  border: 0px;
}
.carousel_btns {
  display: flex;
}
.carousel__btn-img--prev {
  background-image: url("../assets/Icons/Arrow\ Left.png");
  margin-right: 10px;
  border-right: 1px solid black;
}
.carousel__btn-img--next {
  background-image: url("../assets/Icons/Arrow\ Right.png");
  margin-left: 10px;
}
.slideshow {
  width: 1720px;
  height: 780px;
  overflow: hidden;
  border-right: black 2px solid;
}
/* holder  x*/
.holder {
  position: relative;
  top: 0;
  left: 0;
  width: 7295px;
  height: 780px;
  transition: left 2.25s ease-in-out;
}
.holder__slide {
  width: 1305px;
  height: 780px;
  float: left;
  margin-right: 100px;
  border: 1px solid black;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1000;
}
.slide__p-top {
  margin-top: 160px;
  margin-bottom: 60px;
  text-transform: uppercase;
}
.slide__p-bottom {
  margin-top: 24px;
  margin-bottom: 76px;
}
.slide__imagebox {
  margin-right: 40px;
  width: 740px;
  height: 740px;
}
.slide__text {
  width: 420px;
  height: 478px;
  transition: 2.4s ease-in-out;
  color: white;
}
.current__text {
  color: #211e1b;
}
.slide__text p {
  font-size: 16px;
}
.slide__text h4 {
  font-size: 42px;
  line-height: 46px;
}
.slide__button__current {
  color: #211e1b;
  background-color: white;
  width: 250px;
  height: 70px;
  transition: 2.4s ease-in-out;
}
.slide__button {
  color: white;
  background-color: white;
  width: 250px;
  height: 70px;
  border: 1px solid white;
  transition: 2.4s ease-in-out;
}
.slide__button--next {
  color: #211e1b;
}
/* slides backgrounds */
.slide1 {
  background-image: url("../assets/images/carousel/01.png");
}
.slide2,
.slide3,
.slide4,
.slide5 {
  height: 650px;
  width: 720px;
  transition: 2.7s ease-out;
  background-size: 150%;
  background-position-x: -350px;
  background-position-y: -215px;
}
.slide2 {
  background-image: url("../assets/images/carousel/02.png");
}
.slide3 {
  background-image: url("../assets/images/carousel/03.png");
}
.slide4 {
  background-image: url("../assets/images/carousel/04.png");
}
.slide5 {
  background-image: url("../assets/images/carousel/01.png");
}
/* preview slide */

.holder__slide--preview {
  width: 375px;
  height: 780px;
  border: 1px solid black;
}
.slide__image-heading {
  width: 1305px;
  display: flex;
  align-content: center;
  height: 130px;
  border-top: 1px solid black;
  transition: 1.7s ease-out;
}
.slide__image-heading h4 {
  margin-top: 24px;
  margin-left: 30px;
  font-size: 24px;
  font-size: Lexend;
  width: 305px;
}
.slide-p4,
.slide-p3 {
  margin-top: 24px;
  margin-bottom: 76px;
}
.slide-p2 {
  margin-top: 24px;
  margin-bottom: 122px;
}
.slide-p1 {
  margin-top: 24px;
  margin-bottom: 100px;
}
/* next slide transformation */
.slide--next {
  height: 800px;
  border: none;
  background-size: 100%;
  background-position: 0 0;
}

.slide__image-heading--next {
  border: 1px solid white;
  color: white;
  transition: 1.2s;
}
.slide__text--next {
  color: #211e1b;
}
.slide__button--next {
  color: #211e1b;
  border: 1px solid #211e1b;
}

/* team change to % */
.team {
  min-height: 1630px;
}
.team__container {
  margin-left: auto;
  margin-right: auto;
}
.team__description-box {
  margin-top: 32px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
}
.team__description {
  width: 635px;
}
.team__heading-box,
.team__description-box {
  text-align: center;
}
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
.card__avatar {
  position: relative;
}
.card__avatar:hover .card__overlay {
  opacity: 1;
}
.card__avatar img {
  height: 470px;
  width: 470px;
}
.card__text h3 {
  margin-top: 32px;
  margin-bottom: 10px;
}
.card__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.4s ease-in-out;
}
.left {
  margin-right: 60px;
}
.card__overlay button {
  padding: 21px 34px;
  background-color: white;
  color: #211e1b;
  margin-left: 137.28px;
  margin-top: 202.5px;
}
/* click on style */
.card__avatar {
  background-color: white;
}
/* footer */
/* footer change to % */
.contact {
  background-image: url("../assets/images/background/Illustration\ Footer.png");
  background-position: center;
  background-size: cover;
  padding-top: 140px;
  height: 1200px;
}
.contact__texts {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}
.contact__text-left {
  width: 700px;
  margin-right: 310px;
}
.contact-left__paragraph-box {
  margin-top: 32px;
  margin-bottom: 90px;
}
.contact-left__paragraph-box p {
  line-height: 28px;
}
.contact-left__heading-box p {
  font-size: 80px;
  line-height: 82px;
}
.contact-left__heading {
  font-weight: 600;
  font-size: 86px;
  font-family: STIX Two Fest;
}
.contact-left-lower__paragraph-box {
  margin-top: 2.34%;
  display: flex;
  text-transform: uppercase;
}
.contact__text-container {
  width: 705px;
  height: 420px;
}

.contact__paragpraph-rightbox p {
  font-size: 16px;
  line-height: 26px;
}
.contact-left-lower__paragraph-box {
  font-size: 21px;
  line-height: 28px;
}
.contact__paragpraph-rightbox p {
  text-decoration: underline;
  padding-top: 50px;
  color: #211e1b;
}
.contact__info {
  display: flex;
  flex-wrap: wrap;
  width: 750px;
  padding-bottom: 41px;
  padding-top: 161px;
}
.contact__info a {
  width: 563px;
  font-size: 56px;
  line-height: 70px;
  font-family: Stix Two Text;
  font-weight: 600;
  text-decoration: none;
  color: black;
}
.contact__text-container {
  border: 1px solid;
  background-color: white;
  padding-left: 50px;
}
.contact-left__text-upper {
  width: 700px;
}
.contact-left-lower__paragraph-box p {
  font-size: 16px;
  line-height: 22px;
}
.lower__paragraph--middle {
  margin-left: 15px;
  margin-right: 15px;
}
/* carousel-tablet  */
.carousel-tablet__container {
  display: none;
}

@media (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  /* fonts */
  .hero__heading,
  .carousel__text h2,
  .team__heading,
  .contact__info a,
  .contact-left__text-upper p,
  .contact-left__text-upper span {
    font-size: 56px;
    line-height: 56px;
  }
  .hero__description,
  .carousel__text p,
  .team__description,
  .card__p,
  .contact-left__paragraph-box p {
    font-size: 18px;
  }
  .contact-left__heading-box h1 {
    font-size: 21px;
    line-height: 26.25px;
  }
  .header__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .header {
    width: 708px;
    position: static;
  }
  .header__nav,
  .hero__btn p,
  .slide__p-top {
    font-size: 14px;
  }
  .header__wrapper {
    padding: 0;
  }
  .hero__text {
    margin-top: 180px;
  }
  .hero__heading {
    width: 590px;
  }
  .holder,
  .carousel__nav {
    width: 738px;
  }
  /* tablet media */
  .carousel-tablet__container {
    display: block;
  }
  .carousel-tablet {
    margin-left: 30px;
    margin-bottom: 140px;
  }
  .carousel-tablet__heading {
    display: flex;
    justify-content: space-between;
    margin: 140px 30px 40px 40px;
  }
  .carousel-tablet__heading h2 {
    font-size: 56px;
    line-height: 56px;
    font-weight: 600;
    margin-bottom: 16px;
  }
  .carousel-tablet__heading h2,
  .carousel-tablet__heading p {
    max-width: 526px;
  }
  .carousel-tablet__heading p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }
  .carousel-tablet__btns {
    margin-left: 56px;
    display: flex;
  }
  .carousel-tablet__btn {
    display: flex;
    width: 55px;
    height: 55px;
    border: 1px solid black;
  }
  .tablet-next {
    margin-left: 8px;
    background-image: url("../assets/Icons/Arrow\ Right.png");
  }
  .tablet-prev {
    margin-right: 8px;
    background-image: url("../assets/Icons/Arrow\ Left.png");
  }
  .item-img {
    width: 637px;
    height: 280px;
    background-position-x: -177px;
    background-position-y: -250px;
    background-size: 150%;
    border-bottom: 1px solid black;
  }
  .item-text {
    height: 362px;
    width: 637px;
    padding: 50px 70px 60px 70px;
  }
  .item-text p:first-child {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: underline;
  }
  .item-text h4 {
    width: 420px;
    font-size: 42px;
    line-height: 46px;
    margin-bottom: 20px;
  }
  .item-text:nth-child(2) {
    font-size: 16px;
    line-height: 22px;
    width: 640px;
  }
  .item-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    background-color: black;
    height: 70px;
    width: 637px;
  }
  .item-btn p {
    font-size: 14px;
    line-height: 18px;
  }
  .item-img1 {
    background-image: url("../assets/images/carousel/01.png");
  }
  .item-img2 {
    background-image: url("../assets/images/carousel/02.png");
  }
  .item-img3 {
    background-image: url("../assets/images/carousel/03.png");
  }
  .item-img4 {
    background-image: url("../assets/images/carousel/04.png");
  }
  .item {
    width: 637px;
    border: 1px solid black;
    height: 712px;
    margin-right: 40px;
  }
  .carousel {
    display: none;
  }

  .team__text {
    width: 708px;
    margin-left: auto;
    margin-right: auto;
  }
  .team__heading {
    text-align: left;
  }
  .team__description {
    text-align: left;
    line-height: 24px;
  }
  .card__btn--tablet {
    display: flex;
    margin-top: 24px;
    background: none;
    padding: 16px 50px;
    border: 1px solid black;
    text-transform: uppercase;
    color: #211e1b;
  }
  .team__description-box {
    margin-top: 16px;
    display: block;
  }
  .card__text h3 {
    font-size: 36px;
    line-height: 36px;
    margin-top: 24px;
    margin-bottom: 8px;
  }
  .card__text p {
    text-transform: uppercase;
  }
  .card__p {
    font-size: 14px;
    line-height: 18px;
  }

  .card__avatar img {
    width: 344px;
    height: 344px;
  }
  .contact__text-left {
    margin-right: 0px;
    height: 300px;
  }
  .left {
    margin-right: 20px;
  }
  .contact__texts {
    display: block;
  }
  .contact {
    height: 1310px;
    display: flex;
    padding-top: 80px;
    justify-content: center;
  }
  .contact__info {
    max-width: 100%;
    padding-top: 50px;
    padding-bottom: 0;
    margin-bottom: 45px;
  }
  .contact__paragpraph-rightbox p {
    font-size: 14px;
    line-height: 18px;
  }
  .contact__info a {
    line-height: 70px;
  }
  .contact-left__text-upper {
    width: 526px;
  }
  .contact__text-container {
    width: 708px;
    height: 310px;
  }
  .contact-left__paragraph-box {
    margin-bottom: 60px;
  }
  .contact-left__paragraph-box p {
    line-height: 24px;
  }
  .contact__text-lower {
    position: relative;
    top: 320px;
    display: flex;
    align-items: baseline;
    height: 26px;
    padding-left: 3px;
  }
  .contact-left-lower__paragraph-box p {
    font-size: 14px;
  }
  .contact-left__heading-box h1 {
    margin-right: 40px;
  }
}
@media (min-device-width: 900px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .carousel-tablet__heading {
    margin: 140px 150px 40px 150px;
  }

  .carousel-tablet {
    margin-left: 150px;
  }
}
